*{
    margin: 0;
    padding: 0;
    
}
body{
    
}
.container{
   margin:50px;
   
}

.top-container{
position: relative;
background-color: skyblue;
width: 810px;
left:250px;
text-align: center;
}

.nav-container{
    position: absolute;
    left:500px;
    top:165px;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.left{
    margin-right: 200px;
}
.right{
 
    display: flex;
    flex-direction: row;

    
   
}

.right h5{
    padding-left: 20px;
    padding-right: 20px;
    
}
.bg{
    background-color: rgb(40, 110, 138);
}
.bottom-container{
position: absolute;
top:185px;
left:300px;
display: flex;
flex-wrap: wrap;
padding: 5px;
width:800px;
background-color: rgb(50, 54, 54);

}


.yellow{
background-color:yellow ;
height:150px;
width:150px;
margin: 50px;
border-radius: 20px;
}
.green{
background-color: green;
height:150px;
width:150px;
margin: 50px;
border-radius: 20px;
}
.chocolate{
background-color: chocolate;
height:150px;
width:150px;
margin: 50px;
border-radius: 20px;
}
.brown{
background-color:brown ;
height:150px;
width:150px;
margin: 50px;
border-radius: 20px;
}
.black{
background-color: black;
height:150px;
width:150px;
margin: 50px;
border-radius: 20px;
}
.pink{
background-color:pink ;
height:150px;
width:150px;
margin: 50px;
border-radius: 20px;

}
